@import '../../global.scss';

.about {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .about-top {
    display: flex;
    flex-direction: row;
    padding: 4rem 6rem;
    padding-bottom: 0;

    @include tablet {
      padding-right: 0;
    }

    @include smTablet {
      padding-right: 6rem;
      flex-direction: column;
    }

    @include smMobile {
      padding: 2rem 2rem;
    }

    .about-content {
      flex: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-top: 150px;
      opacity: 0;
      animation: backInLeft 0.8s 0.5s forwards;

      @include tablet {
        align-items: flex-start;
        margin-top: 70px;
      }

      @include smTablet {
        margin-top: 0;
        align-items: center;
        margin-bottom: 50px;
      }

      @include smMobile {
        margin-bottom: 20px;
      }

      h1 {
        font-size: 62px;
        line-height: 75px;
        font-weight: 800;
        font-family: $nunito;
        text-transform: capitalize;
        text-align: center;

        @include tablet {
          text-align: start;
        }

        @include mTablet {
          font-size: 55px;
        }

        @include smTablet {
          font-size: 50px;
          text-align: center;
        }

        @include mobile {
          font-size: 40px;
          line-height: 50px;
        }

        @include smMobile {
          font-size: 30px;
          line-height: 31px;
        }
      }

      p {
        margin-top: 50px;
        font-size: 24px;
        font-family: $nunito;
        color: white;
        font-weight: 300;

        @include mTablet {
          margin-top: 20px;
          font-size: 20px;
        }

        @include smMobile {
          font-size: 16px;
          text-align: center;
        }
      }
    }

    .about-image {
      flex: 1;
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 2;
      opacity: 0;
      animation: backInRight 0.8s 0.5s forwards;

      @include smTablet {
        margin-bottom: 170px;
      }

      .design {
        position: absolute;
        width: 28%;
        padding: 15px;
        background-color: rgba(3, 27, 52, 0.6);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 10%;
        top: 22%;
        z-index: 5;
        transform: rotateZ(10deg);
        cursor: pointer;
        transition: $transition;

        @include mobile {
          display: none;
        }

        &:hover {
          transform: scale(1.1);
        }

        h1 {
          font-size: 25px;
          font-family: $nunito;
          font-weight: 200;
          color: white;
        }
      }

      .jarvis {
        position: absolute;
        padding: 20px;
        left: 25%;
        top: 75%;
        transform: rotateZ(0deg);
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(3, 27, 52, 0.5);

        h1 {
          font-size: 40px;
          letter-spacing: 1px;
          font-weight: 300;
          font-family: $nunito;
        }

        @include mobile {
          display: none;
        }
      }

      img {
        width: 85%;
        height: 100%;

        @include smMobile {
          width: 100%;
        }
      }
    }
  }

  .dark-theme {
    background-color: rgba(3, 27, 52, 0.4);
    height: 380px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    opacity: 0;
    animation: fadeIn 0.8s 0.5s forwards;

    @include smTablet {
      flex-direction: column;
    }

    .copyright {
      flex: 1;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      opacity: 0;
      animation: fadeIn 0.8s 0.5s forwards;

      @include smTablet {
        display: none;
      }

      p {
        margin-bottom: 30px;
        font-size: 14px;
        font-weight: 200;
        font-family: $nunito;
        color: $lightSidebar;
      }
    }

    .about-me {
      flex: 0.7;
      display: flex;
      padding: 8rem;

      @include smTablet {
        display: none;
      }

      @include tablet {
        padding: 6rem;
      }

      @include mTablet {
        padding-right: 0;
      }

      @include smTablet {
        align-items: flex-end;
        text-align: center;
        padding-right: 6rem;
        padding-bottom: 2rem;
      }

      p {
        font-size: 25px;
        color: $textColor;

        opacity: 0;
        animation: backInRight 0.8s 0.5s forwards;

        @include tablet {
          font-size: 22px;
        }

        @include smTablet {
          font-size: 19px;
        }
      }
    }
  }

  .about-bottom {
    display: flex;

    .tech-stack {
      flex: 1;
      padding: 4rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      @include mobile {
        align-items: center;
      }

      @include smMobile {
        padding: 0;
      }

      h1 {
        font-size: 62px;
        line-height: 75px;
        font-weight: 800;
        font-family: $nunito;
        text-transform: capitalize;

        @include tablet {
          font-size: 55px;
        }

        @include mobile {
          font-size: 35px;
          line-height: 50px;
        }

        @include smMobile {
          font-size: 28px;
          line-height: 25px;
        }
      }

      p {
        margin-top: 50px;
        font-size: 24px;
        font-family: $nunito;
        color: white;
        font-weight: 300;

        @include tablet {
          font-size: 20px;
          text-align: start;
        }

        @include mobile {
          font-size: 18px;
          margin-top: 20px;
          text-align: center;
        }

        @include smMobile {
          font-size: 16px;
        }
      }
    }

    .cube-container {
      flex: 1;
      display: flex;
      align-items: center;

      @include smTablet {
        margin-right: 6rem;
        margin-bottom: 8rem;
      }

      @include smMobile {
        display: none;
      }

      .cubespinner {
        animation-name: spincube;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 15s;
        transform-style: preserve-3d;
        transform-origin: 100px 100px 0;
        margin-left: calc(50% - 50px);
        margin-bottom: 20%;

        @include mobile {
          margin-bottom: 0;
        }

        div {
          position: absolute;
          width: 200px;
          height: 200px;
          border: 1px solid $background;
          background-color: $footerColor;
          font-size: 100px;
          display: flex;
          justify-content: center;
          align-items: center;

          @include mobile {
            width: 140px;
            height: 140px;
            font-size: 60px;
          }
        }

        .face1 {
          transform: translateZ(100px);
          color: #6ab04c;

          @include mobile {
            transform: translateZ(70px);
          }
        }
        .face2 {
          transform: rotateY(90deg) translateZ(100px);
          color: #f06529;

          @include mobile {
            transform: rotateY(90deg) translateZ(70px);
          }
        }
        .face3 {
          transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
          color: #28a4d9;

          @include mobile {
            transform: rotateY(90deg) rotateX(90deg) translateZ(70px);
          }
        }

        .face4 {
          transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
          color: #5ed4f4;

          @include mobile {
            transform: rotateY(180deg) rotateZ(90deg) translateZ(70px);
          }
        }

        .face5 {
          transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
          color: #ec4d28;

          @include mobile {
            transform: rotateY(-90deg) rotateZ(90deg) translateZ(70px);
          }
        }
        .face6 {
          transform: rotateX(-90deg) translateZ(100px);
          color: #efd81d;

          @include mobile {
            transform: rotateX(-90deg) translateZ(70px);
          }
        }
      }

      @keyframes spincube {
        from,
        to {
          transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        }
        16% {
          transform: rotateY(-90deg);
        }
        33% {
          transform: rotateY(-90deg) rotateZ(90deg);
        }
        50% {
          transform: rotateY(-180deg) rotateZ(90deg);
        }
        66% {
          transform: rotateY(-270deg) rotateZ(90deg);
        }
        83% {
          transform: rotateX(90deg);
        }
      }
    }
  }

  .skills-container {
    height: 100%;
    background-color: $background;

    @include smMobile {
      margin: 1rem 2rem;
    }

    .skills {
      display: flex;
      height: 100%;
      width: 100%;
      padding: 3rem;

      @include smMobile {
        padding: 1rem;
      }

      @include mobile {
        flex-direction: column;
      }

      .skills-content {
        flex: 0.8;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 2rem;

        .title {
          align-self: flex-start;

          div {
            width: 38px;
            height: 3px;
            background: $gradient-bar;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            margin-bottom: 0.25rem;
          }

          h1 {
            font-family: $nunito;
            font-size: 25px;
            letter-spacing: -0.4px;
            margin: 0;
          }
        }

        p {
          color: $textColor;
          font-family: $nunito;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
        }
      }

      .flex {
        position: relative;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 1rem;

        .item {
          display: flex;
          align-items: center;
        }

        p {
          height: 80px;
          transition: $transition;
          display: flex;
          align-items: center;
          padding: 0px 15px;
          cursor: pointer;

          &:hover {
            transform: scale(1.1);

            svg {
              opacity: 0;
            }

            &:after {
              opacity: 1;
            }
          }

          svg {
            height: 50px;
            width: 50px;

            @include tablet {
              height: 40px;
              width: 40px;
            }

            @include mobile {
              height: 30px;
              width: 30px;
            }
          }

          @include mobile {
            font-size: 32px;
            pointer-events: none;
          }
        }

        p:after {
          content: '';
          font-size: 16px;
          position: absolute;
          display: block;
          width: 100%;
          opacity: 0;

          @include mobile {
            display: none;
          }
        }

        p.javascript {
          &:after,
          :hover {
            content: 'JAVASCRIPT';
            color: #f0db4f;
          }
        }

        p.styled {
          &:after,
          :hover {
            content: 'STYLED';
            color: #f0db4f;
          }
        }

        p.mui {
          &:after,
          :hover {
            content: 'MUI';
            color: #3498db;
          }
        }

        p.typescript {
          &:after,
          :hover {
            content: 'TYPESCRIPT';
            color: #007acc;
          }
        }

        p.react {
          &:after,
          :hover {
            content: 'REACT';
            color: #61dbfb;
          }
        }

        p.redux {
          &:after,
          :hover {
            content: 'REDUX';
            color: #764abc;
          }
        }

        p.css {
          &:after,
          :hover {
            content: 'CSS 3';
            color: #264de4;
          }
        }

        p.sass {
          &:after,
          :hover {
            content: 'SASS';
            color: #cd6799;
          }
        }

        p.html {
          &:after,
          :hover {
            content: 'HTML 5';
            color: #e34c26;
          }
        }

        p.node {
          &:after,
          :hover {
            content: 'NODE JS';
            color: #3c873a;
          }
        }

        p.mongoDb {
          &:after,
          :hover {
            content: 'MONGO DB';
            color: #4db33d;
          }
        }

        p.git {
          &:after,
          :hover {
            content: 'GIT';
            color: #f1502f;
          }
        }

        p.gitHub {
          &:after,
          :hover {
            content: 'GIT HUB';
            color: hsl(0 0% 100%);
          }
        }

        p.bootstrap {
          &:after,
          :hover {
            content: 'BOOTSTRAP';
            color: #563d7c;
          }
        }

        p.bulma {
          &:after,
          :hover {
            content: 'BULMA';
            color: #00d1b2;
          }
        }

        p.npm {
          &:after,
          :hover {
            content: 'NPM';
            color: #cc3534;
          }
        }

        p.vercel {
          &:after,
          :hover {
            content: 'VERCEL';
            color: hsl(0 0% 100%);
          }
        }

        p.code {
          &:after,
          :hover {
            content: 'VISUAL STUDIO';
            color: #0078d7;
          }
        }
      }
    }
  }
}
