.text-animate {
  display: inline-block;
  opacity: 0;
  animation: bounceIn 1.5s 1.5s forwards;
  min-width: 10px;
}

.text-animate-hover {
  min-width: 10px;
  display: inline-block;
  animation-fill-mode: both;

  &:hover {
    animation: rubberBand 0.8s;
    color: #fa8231;
  }
}

@for $i from 1 through 21 {
  .text-animate._#{$i} {
    animation-delay: #{$i / 10}s;
  }
}
