@import '../../global.scss';

.projects-container {
  width: 50vw;
  height: 100%;
  display: flex;
  padding: 20px;
  font-family: $nunito;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  opacity: 0;
  animation: backInRight 0.8s 0.5s forwards;

  @include tablet {
    flex-direction: column;
  }

  @include mobile {
    width: 90%;
    height: 90%;
  }

  @include smMobile {
    height: 80%;
    padding: 5px 20px;
  }

  .projects-content {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h1 {
      margin: 0;
      font-size: 55px;
      font-family: $nunito;
      text-align: center;
      letter-spacing: normal;
      text-transform: uppercase;
      color: $whiteColor;
      font-weight: 500;

      @include smTablet {
        margin: 20px 0px;
        font-size: 45px;
      }

      @include mobile {
        margin-top: 40px;
      }

      @include smMobile {
        font-size: 25px;
      }
    }

    h3 {
      font-size: 16px;
      color: $logoColor;
      font-family: $nunito;
      font-weight: 100;

      @include mobile {
        font-size: 12px;
      }

      @include smMobile {
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 10px;
      }
    }

    ul {
      list-style-type: none;
      font-size: 16px;
      cursor: pointer;
      padding: 0;
      padding: 20px;

      @include smTablet {
        margin: 30px 0px;
      }

      @include mobile {
        margin: 40px 0px;
        font-size: 14px;
      }
    }

    p {
      padding: 20px;
      margin: 0;
      font-size: 18px;
      text-transform: capitalize;
      color: $textColor;

      @include smTablet {
        margin-bottom: 30px;
      }

      @include mobile {
        font-size: 16px;
        padding: 0;
      }

      @include smMobile {
        font-size: 12px;
      }
    }
  }

  .right {
    flex: 2;
    display: flex;
    flex-direction: column;

    @include smTablet {
      flex-direction: row;
    }

    @include mobile {
      flex: 1;
    }

    .img-contanier {
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      @include smTablet {
        align-items: flex-start;
      }

      @include mobile {
        display: none;
      }
    }

    .btn-container {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      @include smTablet {
        flex-direction: column;
        align-items: flex-end;
      }

      @include mobile {
        padding: 40px;
        flex-direction: row;
      }

      @include smMobile {
        padding: 20px;
        flex-wrap: wrap;
        align-items: center;
      }

      .box {
        margin-top: 20px;
      }
    }
  }
}
