.project {
  margin-top: 200px;
  margin-left: 0;
  width: 450px;
  height: 600px;
  background: hsl(0 0% 100%);
  border-radius: 20px;
  color: hsl(230 35% 4%);
  padding: 25px !important;
  border: 1px solid hsl(230 35% 4%);
  box-shadow: 0 5px 10px 0 rgba(210, 216, 249, 0.5);
  opacity: 0;
  animation: backInLeft 1.8s 1.6s forwards;

  h1 {
    margin: 35px;
    font-size: 35px;
  }

  h3 {
    margin-top: 10px;
    font-size: 15px;
    opacity: 0.6;
  }

  h4 {
    font-size: 18px;
  }

  ul {
    list-style-type: none;
    font-size: 22px;
    cursor: pointer;
    margin-bottom: 45px;
  }
  p {
    margin-top: 25px;
    font-size: 20px;
    text-align: center;
  }

  // class that I will use later to do fun stuff
  .active {
    text-decoration: underline;
  }
}
