@import '../../global.scss';

.badge {
  border: 1px solid $navColor;
  background: $mainColor;
  color: $whiteColor;
  font-size: 14px;
  padding: 5px;
  text-align: center;
  margin-left: 5px;
  margin-top: 10px;

  &:hover {
    border-color: $logoColor;
    color: $logoColor;
  }
}

.components {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
}

// class to use later
.onSkill {
  color: $logoColor;
}
