@import '../../global.scss';

.badge {
  border: 1px solid $navColor;
  color: $whiteColor;
  font-size: 16px;
  padding: 15px;
  text-align: center;
  margin-left: 5px;
  margin-top: 10px;
  transition: $transition;
  text-transform: uppercase;

  @include smTablet {
    padding: 5px 10px;
    font-size: 12px;
  }

  @include mobile {
    font-size: 12px;
  }

  @include smMobile {
    margin: 0;
    padding: 5px 5px;
    font-size: 10px;
  }

  &:hover {
    border-color: $logoColor;
    color: $logoColor;
  }
}

.components {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
}

// class to use later
.onSkill {
  color: $logoColor;
}
