@import '../../global.scss';
.btn {
  position: relative;
  right: 11px;
  bottom: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 40px;
  background-color: $mainColor;
  color: $whiteColor;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  transition: $transition;
  border: 1px solid $navColor;
}

.btn:hover {
  color: $logoColor;
  transform: translate(10px, 10px);
  background-color: $navColor;
  border-color: $logoColor;
}

.box {
  display: block;
  width: 160px;
  height: 40px;
  border: 1px solid $navColor;
}
