.adminImage-container {
  position: absolute;
  left: 80px;
  top: 38%;
}

.admin-link {
  position: absolute;
  left: 35%;
  bottom: 10%;
}

@media (max-width: 360px) {
  .adminImage-container {
    top: 10px;
  }

  .admin-link {
    bottom: 25px;
  }
}
