#image {
  width: 350px;
  height: 300px;
  border: 1px solid hsl(230 35% 4%);
  border-radius: 20px;
  box-shadow: 0 5px 10px 0 rgba(210, 216, 249, 0.5);
  transition: transform 300ms, box-shadow 300ms !important;
  margin-top: 20px;
  opacity: 0;
  animation: fadeInRight 2.3s 3.3s forwards;

  &:hover {
    transform: scale(1.05) !important;
    box-shadow: 0 15px 60px 0 rgba(210, 216, 249, 0.25);
  }
}

@media (max-width: 480px) {
  #image {
    position: relative;
    bottom: 380px;
    margin-left: 30px;
    width: 250px;
    height: 180px;
    box-shadow: 0 5px 10px 0 rgba(7, 8, 14, 0.6);

    &:hover {
      box-shadow: 0 15px 60px 0 rgba(7, 8, 14, 0.3);
    }
  }
}

@media (max-width: 414px) {
  #image {
    margin-left: 0px;
  }
}

@media (max-width: 360px) {
  #image {
    margin-left: -2px;
    bottom: 400px;
    width: 200px;
    height: 150px;
  }
}

@media (max-width: 320px) {
  #image {
    margin-left: -22px;
  }
}
