@import '../../global.scss';

.apps {
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: backInUp 0.8s 0.5s forwards;

  .top {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
      font-size: 45px;
      font-weight: 300;
      font-family: $nunito;
      border-bottom: 1px solid;

      @include mobile {
        font-size: 32px;
      }
    }
  }

  .bottom {
    flex: 3;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .container {
      height: 80%;
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: whitesmoke;
      border-radius: 10px;
      border: 1px solid hsl(230 35% 4%);
      -webkit-box-shadow: $boxShadow;
      box-shadow: $boxShadow;

      @include mobile {
        // width: 90%;
      }
    }
  }
}
