.project {
  margin-top: 200px;
  margin-left: 0;
  width: 450px;
  height: 600px;
  background: hsl(0 0% 100%);
  border-radius: 20px;
  color: hsl(230 35% 4%);
  padding: 25px !important;

  h1 {
    margin: 35px;
    font-size: 35px;
  }

  h3 {
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
  }

  h4 {
    font-size: 18px;
  }

  ul {
    list-style-type: none;

    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
}
