@import '../../global.scss';

.contact {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;

  @include landscape {
    height: 100%;
    flex-direction: column;
  }

  @include mobile {
    height: 100%;
    flex-direction: column;
  }

  .left {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;

    @include smTablet {
      padding: 0;
    }

    @include mobile {
      width: 90%;
    }

    .contact-content {
      height: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;

      opacity: 0;
      animation: backInDown 0.8s 0.5s forwards;
      gap: 80px;

      @include mobile {
        gap: 30px;
      }

      .title {
        display: flex;
        height: 50%;
        justify-content: center;
        align-items: center;

        h1 {
          text-align: center;
          font-size: 45px;
          border-bottom: 1px solid $whiteColor;
          font-weight: 300;
          text-transform: uppercase;

          @include smTablet {
            font-size: 35px;
          }

          @include mobile {
            font-size: 25px;
            margin-top: 20px;
          }
        }
      }

      .text {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-family: $nunito;

        .contact-img {
          width: 35%;

          @include mobile {
            display: none;
          }
        }

        p {
          font-size: 18px;
          text-transform: capitalize;
          letter-spacing: 1px;
          text-align: center;
          padding: 0 100px;

          @include smTablet {
            font-size: 16px;
          }

          @include mobile {
            font-size: 14px;
          }

          @include smMobile {
            display: none;
          }
        }
      }
    }

    .form-container {
      height: 100%;
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      opacity: 0;
      animation: backInUp 0.8s 0.5s forwards;

      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        @include mobile {
          margin-top: 20px;
        }

        input {
          width: 70%;
          border: 0;
          outline: none;
          height: 45px;
          font-size: 16px;
          font-weight: 400;
          color: hsl(0 0% 100%);
          padding: 0 20px;
          box-sizing: border-box;
          background: $footerColor;

          @include mobile {
            width: 90%;
            font-size: 14px;
            outline: none;
          }

          &::placeholder {
            color: $whiteColor;
            font-family: $nunito;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 1px;

            @include mobile {
              font-size: 10px;
            }
          }
        }

        textarea {
          width: 70%;
          border: 0;
          height: 50px;
          font-size: 16px;
          font-weight: 400;
          color: $whiteColor;
          padding: 20px;
          min-height: 140px;
          resize: none;
          outline: none;
          background: $footerColor;

          @include mobile {
            width: 90%;
            font-size: 14px;
            outline: none;
          }

          &::placeholder {
            color: $whiteColor;
            font-family: $nunito;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 1px;

            @include mobile {
              font-size: 10px;
            }
          }
        }

        .form-btn {
          width: 30%;
          color: $footerColor;
          background: $logoColor;
          font-size: 18px;
          letter-spacing: 3px;
          padding: 10px;
          border: none;
          cursor: pointer;
          transition: $transition;

          @include mobile {
            width: 70%;
            margin-bottom: 20px;
          }

          &:hover {
            background-color: $footerColor;
            color: $whiteColor;
          }
        }
      }
    }
  }

  .right {
    position: relative;
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    @include smTablet {
      padding: 0;
    }

    @include mobile {
      flex-direction: column;
    }

    .info-map {
      position: absolute;
      background-color: $background;
      top: 25%;
      z-index: 3;
      width: 250px;
      padding: 20px;
      color: $whiteColor;
      font-size: 20px;
      font-weight: 300;
      text-align: center;
      opacity: 0;
      animation: fadeIn 0.8s 1s;
      animation-fill-mode: forwards;

      @include landscape {
        display: none;
      }

      @include mobile {
        width: 80%;
        padding: 5px;
        font-size: 14px;
        height: 70px;
        top: 60%;
      }

      span {
        font-size: 20px;
        display: block;
        padding-top: 5px;
        color: $logoColor;

        @include mobile {
          padding: 0;
          font-size: 14px;
        }
      }
    }

    .map-wrap {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      @include mobile {
        width: 100vw;
        height: 50vh;
      }

      @include landscape {
        display: none;
      }
    }
  }
}

.leaflet-container {
  width: 80%;
  height: 80%;
  position: relative;
  opacity: 0;
  animation: backInRight 0.8s 0.5s;
  animation-fill-mode: forwards;

  @include mobile {
    height: 70%;
  }
}
