@import '../../global.scss';

.contact {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;

  // opacity: 0;
  // transform-style: preserve-3d;
  // animation: fadeIn 1s 1s forwards;

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;

    .contact-content {
      display: flex;
      flex-direction: column;
      opacity: 0;
      animation: backInDown 1s 0.8s forwards;
      gap: 80px;

      .title {
        display: flex;
        justify-content: center;

        h1 {
          text-align: center;
          font-size: 45px;
          border-bottom: 1px solid $whiteColor;
          font-weight: 300;
          text-transform: uppercase;
        }
      }

      .text {
        font-family: $nunito;
        display: flex;
        flex-direction: column;
        align-items: center;

        .contact-img {
          width: 30%;
        }

        p {
          font-size: 18px;
          color: $whiteColor;
          text-align: center;
          font-weight: 300;
          letter-spacing: 1px;
          margin: 30px 0px;
        }
      }
    }

    .form-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      opacity: 0;
      animation: backInUp 1s 0.8s;
      animation-fill-mode: forwards;

      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        input {
          width: 80%;
          border: 0;
          background: $navColor;
          height: 50px;
          font-size: 17px;
          font-weight: 200;
          color: hsl(0 0% 100%);
          padding: 0 20px;
          box-sizing: border-box;

          &::placeholder {
            color: $logoColor;
            text-transform: uppercase;
            letter-spacing: 1px;
            opacity: 0.6;
          }
        }

        textarea {
          width: 80%;
          border: 0;
          background: $navColor;
          height: 50px;
          font-size: 17px;
          color: $whiteColor;
          padding: 20px;
          min-height: 150px;
          box-sizing: border-box;
          resize: none;

          &::placeholder {
            color: $logoColor;
            opacity: 0.6;
            text-transform: uppercase;
            letter-spacing: 1px;
          }
        }

        .form-btn {
          width: 40%;
          color: $whiteColor;
          background: $navColor;
          font-size: 18px;
          letter-spacing: 3px;
          padding: 10px;
          border: 1px solid $whiteColor;
          cursor: pointer;
          transition: $transition;

          &:hover {
            background: $navColor;
            color: $logoColor;
            border: 1px solid $logoColor;
          }
        }
      }
    }
  }

  .right {
    position: relative;
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .info-map {
      position: absolute;
      background-color: $navColor;
      top: 25%;
      z-index: 3;
      width: 250px;
      padding: 20px;
      color: $whiteColor;
      font-size: 20px;
      font-weight: 300;
      text-align: center;
      opacity: 0;
      animation: fadeIn 1s 1.5s;
      animation-fill-mode: forwards;

      span {
        font-size: 20px;
        display: block;
        padding-top: 5px;
        color: $logoColor;
      }
    }

    .map-wrap {
      // background: $navColor;
      width: 100%;
      height: 100%;
    }
  }
}

.leaflet-container {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0;
  animation: backInRight 1s 0.8s;
  animation-fill-mode: forwards;
}
