@import '../../global.scss';

.home {
  width: 100vw;
  height: 100vh;
  display: flex;

  flex-direction: column;

  @include smTablet {
    flex-direction: column;
  }

  .left {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;

    .name {
      display: flex;
      align-items: center;
      height: 80px;
      font-size: 72px;
      font-weight: 200;
      font-family: $nunito;
      letter-spacing: 2px;

      @include mobile {
        font-size: 55px;
      }

      @include smMobile {
        font-size: 36px;
      }
    }

    .img-container {
      display: flex;
      justify-content: center;

      .logo {
        height: 65px;
        opacity: 0;
        animation: fadeInLeft 1s 0.8s forwards;

        @include mobile {
          height: 50px;
        }

        @include smMobile {
          height: 34px;
        }
      }
    }

    .jobs {
      margin-top: 70px;
      padding: 15px;
      color: hsl(231 77% 90%);
      font-size: 26px;
      letter-spacing: 1px;
      font-weight: 400;
      opacity: 0;
      animation: fadeIn 1s 1.3s forwards;

      @include mobile {
        font-size: 18px;
        margin-top: 25px;
      }

      @include smMobile {
        margin-top: 40px;
        font-size: 14px;
      }

      .ityped {
        color: $textColor;
      }

      :last-child {
        color: #fa8231;
      }
    }
  }

  .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      flex: 0.5;
    }

    .logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      opacity: 0;
      animation: fadeIn 2s 0.8s forwards;

      @include smTablet {
        animation: fadeIn 2s 0.8s forwards;
      }

      @include smTablet {
        align-items: flex-start;
      }

      img {
        width: 60%;

        @include mobile {
          width: 50%;
        }

        @include smMobile {
          width: 45%;
        }
      }
    }
  }
}

.ityped-cursor {
  font-size: 2rem;
  opacity: 1;
  -webkit-animation: blink 0.4s infinite;
  -moz-animation: blink 0.4s infinite;
  animation: blink 0.4s infinite;
  animation-direction: alternate;
}

@keyframes blink {
  100% {
    opacity: 0;
    color: #fa8231;
  }
}

@-webkit-keyframes blink {
  100% {
    opacity: 0;
    color: #fa8231;
  }
}

@-moz-keyframes blink {
  100% {
    opacity: 0;
    color: #fa8231;
  }
}
