@import '../../global.scss';

.home {
  width: 100vw;
  height: calc(100vh - 130px);
  display: flex;

  // .title h1 {
  //   font-size: 65px;
  //   font-weight: 300;
  //   letter-spacing: 1px;
  //   color: hsl(231 77% 90%);
  //   opacity: 0;
  //   animation: zoomOut 8s 0.4s backwards;
  // }

  .left {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .name {
      display: flex;
      align-items: center;
      height: 80px;
      font-size: 64px;
      font-family: $nunito;
    }

    .img-container {
      display: flex;
      justify-content: center;

      .logo {
        height: 65px;
        opacity: 0;
        animation: fadeInLeft 1.2s 1.3s forwards;
      }
    }

    .jobs {
      margin-top: 80px;
      color: hsl(231 77% 90%);
      font-size: 30px;
      letter-spacing: 1px;
      // opacity: 0;
      // animation: fadeIn 1.1s 2.4s forwards;

      ._17,
      ._18,
      ._19,
      ._20,
      ._21 {
        cursor: pointer;
        color: #fa8231;
      }
    }
  }

  .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 450px;
    }
  }
}
