.about-page {
  position: absolute;
  top: 24.5%;
  left: 12%;

  h1 {
    font-family: 'Barlow' sans-serif;
    font-size: 35px;
    opacity: 0;
    animation: fadeIn 2s 2.3s forwards;
    text-decoration: underline;
  }
}

.skills {
  position: absolute;
  top: 30%;
  right: 10%;
  display: block;
  width: 600px;
  height: 450px;
  background: hsl(230 35% 4%);
  border-radius: 20px;
  box-shadow: 0 5px 15px 0 rgba(210, 216, 249, 0.35);
  opacity: 0;
  animation: backInRight 2s 1.5s forwards;
  font-size: 40px;
  padding: 2.5rem 0 0 6.5rem;
  color: hsl(0 0% 100%);

  span {
    font-size: 14px;
  }
}

p {
  margin: 0 !important;
}

p:after {
  content: '';
  font-size: 15px;
  position: absolute;
  bottom: 0;
  left: -35px;
  display: block;
  width: 100%;
  text-align: center;
  opacity: 0;
}

.javascript:hover {
  transform: scale(1.1);
  color: #f0db4f;

  svg {
    opacity: 0;
  }

  &:after {
    opacity: 1;
  }
}

p.javascript {
  &:after {
    content: 'JAVASCRIPT';
  }
}

.typescript:hover {
  transform: scale(1.1);
  color: #007acc;

  svg {
    opacity: 0;
  }

  &:after {
    opacity: 1;
  }
}

p.typescript {
  &:after {
    content: 'TYPESCRIPT';
  }
}

.react:hover {
  transform: scale(1.1);
  color: #61dbfb;

  svg {
    opacity: 0;
  }

  &:after {
    opacity: 1;
  }
}

p.react {
  &:after {
    content: 'REACT';
  }
}

.redux:hover {
  transform: scale(1.1);
  color: #764abc;

  svg {
    opacity: 0;
  }

  &:after {
    opacity: 1;
  }
}

p.redux {
  &:after {
    content: 'REDUX';
  }
}

.css:hover {
  transform: scale(1.1);
  color: #264de4;

  svg {
    opacity: 0;
  }

  &:after {
    opacity: 1;
  }
}

p.css {
  &:after {
    content: 'CSS 3';
  }
}

.sass:hover {
  transform: scale(1.1);
  color: #cd6799;

  svg {
    opacity: 0;
  }

  &:after {
    opacity: 1;
  }
}
p.sass {
  &:after {
    content: 'SASS';
  }
}

.html:hover {
  transform: scale(1.1);
  color: #e34c26;

  svg {
    opacity: 0;
  }

  &:after {
    opacity: 1;
  }
}

p.html {
  &:after {
    content: 'HTML 5';
  }
}

.node:hover {
  transform: scale(1.1);
  color: #3c873a;

  svg {
    opacity: 0;
  }

  &:after {
    opacity: 1;
  }
}

p.node {
  &:after {
    content: 'NODE JS';
  }
}

.mongoDb:hover {
  transform: scale(1.1);
  color: #4db33d;

  svg {
    opacity: 0;
  }

  &:after {
    opacity: 1;
  }
}

p.mongoDb {
  &:after {
    content: 'MONGO DB';
  }
}

.git:hover {
  transform: scale(1.1);
  color: #f1502f;

  svg {
    opacity: 0;
  }

  &:after {
    opacity: 1;
  }
}

p.git {
  &:after {
    content: 'GIT';
  }
}

.gitHub:hover {
  transform: scale(1.1);
  color: hsl(0 0% 100%);

  svg {
    opacity: 0;
  }

  &:after {
    opacity: 1;
  }
}

p.gitHub {
  &:after {
    content: 'GIT HUB';
  }
}

.bootstrap:hover {
  transform: scale(1.1);
  color: #563d7c;

  svg {
    opacity: 0;
  }

  &:after {
    opacity: 1;
  }
}

p.bootstrap {
  &:after {
    content: 'BOOTSTRAP';
  }
}

.bulma:hover {
  transform: scale(1.1);
  color: #00d1b2;

  svg {
    opacity: 0;
  }

  &:after {
    opacity: 1;
  }
}

p.bulma {
  &:after {
    content: 'BULMA';
  }
}

.npm:hover {
  transform: scale(1.1);
  color: #cc3534;

  svg {
    opacity: 0;
  }

  &:after {
    opacity: 1;
  }
}

p.npm {
  &:after {
    content: 'NPM';
  }
}

.vercel:hover {
  transform: scale(1.1);
  color: hsl(0 0% 100%);

  svg {
    opacity: 0;
  }

  &:after {
    opacity: 1;
  }
}

p.vercel {
  &:after {
    content: 'VERCEL';
  }
}

.code:hover {
  transform: scale(1.1);
  color: #0078d7;

  svg {
    opacity: 0;
  }

  &:after {
    opacity: 1;
  }
}

p.code {
  &:after {
    content: 'VISUAL STUDIO';
  }
}

h2 {
  position: absolute;
  top: 22%;
  right: 35%;
  font-family: 'Barlow' sans-serif;
  font-size: 35px;
  opacity: 0;
  animation: fadeIn 2s 3s forwards;
  text-decoration: underline;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-column-gap: 25px;
  grid-row-gap: 48px;
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 3s 3.3s forwards;
}

@media (max-width: 1520px) {
  .skills {
    top: 31%;
    right: 7%;
    width: 560px;
    height: 420px;
    padding: 1.5rem 0 0 4.5rem;
  }

  .about-page {
    left: 9%;
  }

  .grid {
    grid-row-gap: 43px;
  }

  h2 {
    right: 37%;
  }
}

@media (max-width: 1320px) {
  .skills {
    right: 5%;
    width: 520px;
    height: 400px;
  }

  .grid {
    grid-row-gap: 38px;
  }

  .about-page {
    left: 7%;
  }
}
@media (max-width: 1175px) {
  .skills {
    width: 450px;
    padding: 1.5rem 0 0 3rem;
  }

  .grid {
    grid-column-gap: 10px;
  }

  h2 {
    right: 34%;
  }
}

@media (max-width: 1024px) {
  .skills {
    top: 83%;
    left: 20%;
    width: 600px;
    height: 450px;
    font-size: 40px;
    padding: 2.5rem 0 0 4.5rem;
  }

  h2 {
    left: 23%;
    top: 74%;
  }

  .about-page {
    top: 15.5%;
    left: 23%;
  }

  .grid {
    grid-column-gap: 25px;
    grid-row-gap: 48px;
  }
}

@media (max-width: 920px) {
  .skills {
    width: 560px;
    height: 420px;
    padding: 1.5rem 0 0 4.5rem;
  }
}

@media (max-width: 768px) {
  .skills {
    width: 450px;
    padding: 1.5rem 0 0 3rem;
  }

  .grid {
    grid-column-gap: 10px;
    grid-row-gap: 41px;
  }

  h2,
  .about-page h1 {
    font-size: 30px;
  }

  #filler {
    margin-top: 50px;
  }
}

@media (max-width: 620px) {
  .skills {
    left: 13%;
    top: 73%;
  }
  h2 {
    left: 17%;
    top: 65%;
  }
  .about-page {
    top: 12%;
    left: 17%;
  }
}

@media (max-width: 550px) {
  .skills {
    width: 375px;
    height: 360px;
    top: 70%;
    font-size: 36px;
    padding: 2.5rem 0 0 3rem;
  }

  .about-page h1 {
    font-size: 25px;
  }

  h2 {
    top: 62%;
    font-size: 25px;
  }

  .grid {
    grid-template-columns: repeat(4, minmax(80px, 1fr));
    grid-column-gap: 6px;
    grid-row-gap: 25px;
  }

  p::after {
    margin-left: 14px;
  }
}

@media (max-width: 430px) {
  h1 {
    font-size: 25px;
  }

  .skills {
    width: 300px;
    height: 300px;
    top: 62%;
    font-size: 31px;
    padding: 1.5rem 0 0 2.5rem;
  }

  p::after {
    font-size: 11px;
    margin-left: 20px;
  }

  h2 {
    top: 54.5%;
    font-size: 25px;
  }

  .grid {
    grid-template-columns: repeat(4, minmax(50px, 1fr));
    grid-row-gap: 23px;
  }
}

@media (max-width: 360px) {
  .skills {
    left: 7%;
  }
}

@media (max-height: 430px) and (orientation: landscape) {
  .skills {
    width: 300px;
    height: 300px;
    font-size: 27px;
    top: 35%;
    left: 52%;
    padding: 1.5rem 0 0 2.5rem;
  }
  .grid {
    grid-template-columns: repeat(4, minmax(50px, 1fr));
    grid-column-gap: 6px;
    grid-row-gap: 30px;
  }

  p::after {
    font-size: 11px;
    margin-left: 20px;
  }

  .about-page {
    left: 12%;
    top: 27%;

    h1 {
      font-size: 20px;
    }
  }

  h2 {
    top: 20%;
    left: 56%;
    font-size: 20px;
  }
}

@media (max-height: 430px) and (min-width: 768px) and (orientation: landscape) {
  .skills {
    left: 56%;
  }

  h2 {
    left: 59%;
    top: 20.5%;
  }

  .about-page {
    left: 15%;
  }

  #filler {
    margin-top: 50px;
  }
}

@media (max-width: 360px) and (max-height: 760px) {
  .skills {
    top: 68%;
  }
  h2 {
    top: 59%;
  }
}

@media (max-width: 740px) and (max-height: 350px) {
  .skills {
    top: 40%;
  }
}
