.mwdImage-container {
  position: absolute;
  left: 80px;
  top: 38%;
}

.mwd-link {
  position: absolute;
  left: 35%;
  bottom: 10%;
}

@media (max-width: 360px) {
  .mwdImage-container {
    top: 60px;
  }

  .mwd-link {
    bottom: 0px;
  }
}
