.mtgSearch-project {
  opacity: 0.5;
}

.mtgSearch-container {
  opacity: 0.5;
  position: absolute;
  left: 80px;
  top: 38%;
}

.mtgSearch-link {
  opacity: 0.5;
  position: absolute;
  left: 35%;
  bottom: 10%;
}
