.movieImage-container {
  position: absolute;
  left: 80px;
  top: 38%;
}

.movie-link {
  position: absolute;
  left: 35%;
  bottom: 10%;
}

@media (max-width: 360px) {
  .movie-link {
    bottom: 45px;
  }
}
