@import '../../global.scss';

.projects {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;

  .top {
    flex: 1;
    display: flex;
    margin-top: 80px;
    opacity: 0;
    animation: fadeInLeft 2s 0.8s forwards;

    .title {
      display: flex;
      align-items: center;

      h2 {
        font-size: 45px;
        font-weight: 300;
        font-family: $nunito;
        border-bottom: 1px solid;
      }
    }

    .img-container {
      display: flex;
      justify-content: center;
      img {
        width: 40%;
      }
    }
  }

  .container {
    flex: 3;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    background-color: $mainColor;
  }
}
