@import '../../global.scss';

.projects {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .top {
    flex: 1;
    display: flex;
    align-items: center;
    margin-top: 80px;
    // opacity: 0;
    // animation: fadeInLeft 2s 1s forwards;

    .title {
      margin-right: 100px;

      h2 {
        font-size: 35px;
        font-weight: 300;
        font-family: $nunito;
        border-bottom: 1px solid;
      }
    }

    .img-container {
      margin-left: 100px;

      img {
        height: 350px;
      }
    }
  }

  .container {
    flex: 3;
    gap: 100px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: $mainColor;
  }
}
