$navColor: hsl(230 35% 4%);
$sidebarColor: #21262d;
$mainColor: hsl(230 35% 7%);
$logoColor: #fa8231;
$textColor: hsl(231 77% 90%);
$borderColor: #30363d;
$lightSidebar: #c0c5cc;
$darkColor: #5e4f45;
$whiteColor: hsl(0 0% 100%);

$nunito: 'Nunito Sans', sans-serif;
$transition: all 0.3s linear;

$width: 768px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}
