html {
  overflow-x: hidden;
}
 
 body {
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
  color: hsl(0 0% 100%);
  background: hsl(230 35% 7%);
  position: relative;
  overflow-x: hidden;
  width: 100%;
}