@import '../../global.scss';

#header {
  font-size: 25px;
  font-weight: 300;
  font-family: $nunito;
  letter-spacing: 1px;
  color: hsl(231 77% 90%);
  text-transform: uppercase;

  @include mobile {
    padding-top: 10px;
    font-size: 12px;
    font-weight: 200;
  }
}
