@import '../../global.scss';

#header {
  font-size: 25px;
  font-weight: 300;
  font-family: $nunito;
  letter-spacing: 1px;
  color: $textColor;
  text-transform: uppercase;

  @include tablet {
    font-size: 18px;
  }

  @include mobile {
    padding-top: 10px;
    font-size: 12px;
    font-weight: 200;
  }
}
