@import '../../global.scss';

.section-center {
  width: 50%;
  height: 90%;
  border-left: 1px solid $navColor;
  border-right: 1px solid $navColor;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 0px 35px 0px 35px;

  @include mobile {
    width: 90%;
    padding: 0px 5px;
  }

  .grocery-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      color: $mainColor;
      border-bottom: 1px solid $navColor;
      max-width: max-content;
      letter-spacing: 1.5px;
      font-size: 25px;

      @include mobile {
        font-size: 20px;
      }
    }

    .form-control {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 20px;

      input {
        width: 50%;
        height: 40px;
        border: none;
        background-color: $mainColor;
        color: $whiteColor;
        font-size: 20px;
        font-family: $nunito;
        font-weight: 300;

        @include mobile {
          width: 70%;
          height: 30px;
          font-size: 15px;
          font-weight: 200;
        }

        &.active,
        &:focus {
          outline: none;
        }

        &::placeholder {
          color: $textColor;
          font-size: 15px;
          font-family: $nunito;
          font-weight: 200;

          @include mobile {
            font-size: 10px;
          }
        }
      }

      .submit-btn {
        border: none;
        background-color: $navColor;
        color: $whiteColor;
        text-transform: uppercase;
        cursor: pointer;
        padding: 5px 15px;
        font-size: 18px;
        font-family: $nunito;
        font-weight: 300;
        letter-spacing: 1px;
        transition: $transition;

        @include mobile {
          font-size: 12px;

          font-weight: 200;
        }

        &:hover {
          color: $textColor;
        }
      }
    }
  }

  .grocery-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }

  .clear-btn {
    margin-top: 30px;
    align-self: center;
    width: 20%;
    padding: 5px 0px;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid $borderColor;
    color: $mainColor;
    transition: $transition;

    @include mobile {
      width: 35%;
      font-size: 11px;
    }

    &:hover {
      color: red;
    }
  }
}
